@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["RegisterError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["RegisterError"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="/Account/Register" class="btn btn-primary m-2">Register</a>
    <a href="/Account/Login" class="btn btn-success m-2">Log in</a>
</div>