@{
    ViewData["Title"] = "Admin Dashboard";
}
<h1>Admin Dashboard</h1>
<div class="list-group">
    <a href="/Admin/Inquiries" class="list-group-item list-group-item-action">View Inquiries</a>
    <a href="/Cars/Create" class="list-group-item list-group-item-action">Add Cars</a>
</div>

