@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
@if (ViewBag.LoginError != null)
{
    <div class="alert alert-danger">@ViewBag.LoginError</div>
}
<form asp-action="Login" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" class="form-control" type="email" required />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<a href="/Account/Register">Don't have an account? Sign Up</a>
